DB_HOST=localhost
DB_PORT=3306
DB_NAME=test
DB_USERNAME=root
DB_PASSWORD=

DOMAIN=localhost

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_ENCRYPTION=tls
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=EventX